
<div class="user-info">
    <span id="userInfo">
        <p>Name: {{this.title}}</p>
        <p>description: {{this.description}}</p>
        <p>price: {{this.price}}</p>
        <p>thumbnail: {{this.thumbnail}}</p>
        <p>code: {{this.code}}</p>
        <p>stock: {{this.stock}}</p>
        <p>status: {{this.status}}</p>
        <p>category: {{this.category}}</p>
        <p>id: {{this._id}}</p>
    </span>
</div>

<button>Add To Cart</button>
<button>
    <a href="http://localhost:5500/products"/>Return</a>
    {{!-- <a href={{res.linkProducts}}/>Return</a> --}}
</button>
