<div>
    <h1>Bienvenido {{ name }}</h1>

    <p>Datos</p>
    <ul>
        <li>Nombre: {{ user.name }}</li>
        <li>Apellido: {{user.surname}}</li>
        <li>Edad: {{user.age}} </li>
        <li>Telefono: {{user.phone}}</li>
        <li>Email: {{ user.email }}</li>
    </ul>
</div>